In [1]:
import pandas as pd
import os

In [2]:
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "/app/creds/emkademy-474323-887fb2819a7a.json"

In [3]:
print(os.environ.get("GOOGLE_APPLICATION_CREDENTIALS"))

/app/creds/emkademy-474323-887fb2819a7a.json

In [11]:
df = pd.read_parquet(
    "gs://cybulde_emkademy/data/processed/rebalanced_splits/train.parquet"
)

In [13]:
df[df["cleaned_text"].str.len() < 10].sample(n=10)

,label,text,dataset_name,split,cleaned_text
__null_dask_index__,,,,,
117402,1,"""\nEd, you bully! D D D — (T•C•)''' """,jtc,train,ed bully
8718,1,dont be a dick,jtc,train,dont dick
69717,0,that says what you want,jtc,train,says want
50996,0,::U don't like me? -(,jtc,train,u nt like
119014,0,", but that's not true",jtc,train,s true
75413,0,""" * 01:27, 2004 Dec 17 (UTC)""",jtc,train,dec utc
16722,0,Just hit her at the money.,ghc,train,hit money
22778,1,Fuck you \n\nFuck you,jtc,train,fuck fuck
12650,0,#Q #Qanon #BackChannel17,ghc,train,q qanon
117398,0,"- 05:07, 12 Apr 2005 (UTC)",jtc,train,apr utc

In [6]:
another_df = df[df["cleaned_text"].str.split().apply(len) > 1].head()

In [7]:
another_df[another_df["cleaned_text"].str.split().apply(len) < 2]

Empty DataFrame
Columns: [label, text, dataset_name, split, cleaned_text]
Index: []

In [8]:
another_df.dtypes

label                    int64
text            string[python]
dataset_name            object
split                   object
cleaned_text            object
dtype: object

In [12]:
df[df["cleaned_text"].str.split().apply(len) < 2]

Empty DataFrame
Columns: [label, text, dataset_name, split, cleaned_text]
Index: []

In [15]:
len(df)

260900